.wid {

padding-left: 20px; 

width:700px;

}


@font-face {
font-family: 'DroidKufi-Bold';
src: url('https://www.dropbox.com/s/optqob1e45eryy9/DroidKufi-Bold.eot?dl=0');
src: url('https://www.dropbox.com/s/optqob1e45eryy9/DroidKufi-Bold.eot?dl=0?') format('embedded-opentype'),
url('https://www.dropbox.com/s/jibsoqgz3utowga/DroidKufi-Bold.woff?dl=0') format('woff'),
url('https://www.dropbox.com/s/5q0q0ivsm47rzro/DroidKufi-Bold.ttf?dl=0') format('truetype');}
 
@font-face {
font-family: 'DroidKufi-Regular';
src: url('https://www.dropbox.com/s/xsqzawbro6ncpw0/DroidKufi-Regular.eot?dl=0');
src: url('https://www.dropbox.com/s/xsqzawbro6ncpw0/DroidKufi-Regular.eot?dl=0?') format('embedded-opentype'),
url('https://www.dropbox.com/s/i7iq7avic060311/DroidKufi-Regular.woff?dl=0') format('woff'),
url('https://www.dropbox.com/s/bd8otokb9jlo8sy/DroidKufi-Regular.ttf?dl=0') format('truetype');}
 
@font-face {
font-family: 'DroidNaskh-Bold';
src: url('https://www.dropbox.com/s/8toe54ers2euw4m/DroidNaskh-Bold.eot?dl=0');
src: url('https://www.dropbox.com/s/8toe54ers2euw4m/DroidNaskh-Bold.eot?dl=0?') format('embedded-opentype'),
url('https://www.dropbox.com/s/rohop7h1g8zxoto/DroidNaskh-Bold.woff?dl=0') format('woff'),
url('https://www.dropbox.com/s/oo9f5bb8qqpoige/DroidNaskh-Bold.ttf?dl=0') format('truetype');}
 
@font-face {
font-family: 'DroidNaskh-Regular';
src: url('https://www.dropbox.com/s/kfmo0micboom6o3/DroidNaskh-Regular.eot?dl=0');
src: url('https://www.dropbox.com/s/kfmo0micboom6o3/DroidNaskh-Regular.eot?dl=0?') format('embedded-opentype'),
url('https://www.dropbox.com/s/2fk3f1ag59a54k0/DroidNaskh-Regular.woff?dl=0') format('woff'),
url('https://www.dropbox.com/s/xjm44u5t9gm4y4u/DroidNaskh-Regular.ttf?dl=0') format('truetype');  }

p {


padding-left:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-top:10px;

}


#footer-wrapper { 

background:rgba(0,0,0,0.5);
width: 54%;
border-top: 1px solid #f0f0f0;
clear: both;
margin: 0 auto;
margin-top: 52px;

}



#copyrights-wrapper {    

width: 723px;
clear: both;
padding: 1px 0;
margin: 0 auto;
background:rgba(0,0,0,0.5);
font: normal 12px Droidnaskh-regular,verdana;
color: #fff;

}

#copyrights{

overflow: hidden; 
width:97%;  
margin:0 auto;

}

.copyright{

float:right;

}

.copyleft {

float:left; 
padding: 8px;
bottom: 0px; 

}

h1,h2,h3,h4,h5,h6,p,b,a {

font-family:DroidNaskh-Regular;

}

select {

border:1px solid black;
width:138px;
height:21px;
text-top:20px;
background: #FFFFFF;
box-shadow: 0 0 0 5px rgba(0,0,0,0.5);
font-family: DroidNaskh-Regular;
font-size:12px;

}

.tube_iframe {
/* background-color: rgba(255, 255, 255, 0.91); */
text-align:center;
padding-left:10px;

}

#footr {
padding-bottom: 8px;
/* background-color: rgba(255, 255, 255, 0.91); */


}

#footr a {

color:#FFFFFF;
font-size:15px;

}

